{% extends 'base.html' %}

{% block content %}
    <h1> {% block title %} Welcome to FlaskBlog {% endblock %} </h1>
    {% for post in posts %}
        <a href="{{ url_for('post', post_id=post['id']) }}"> 
            <h2> {{ post['title'] }} </h2>
        </a>

        <span class="badge badge-primary"> {{ post['created'] }} </span> 
        
        <span class="badge badge-danger float-right btn btn-sm btn-danger"> 
            <a href="{{ url_for('delete', post_id=post['id']) }}"> delete </a>
        </span>

        <span class="badge badge-warning float-right btn btn-sm btn-warning "> 
            <a href="{{ url_for('edit', post_id=post['id']) }}"> edit </a>
        </span>

        <hr>


    {% endfor %}
{% endblock %}
